:root {
    --var-body-bg: white;
    --var-body-fc: black;
    --var-header-bg:#918d8d;
    --var-header-fc:black;
    --var-rect-color:rgb(44, 107, 150);
    --var-rect-color-two:rgb(211, 143, 16);
    --var-sport-rect-one:rgb(105, 173, 185);
    --var-business-rect-one: #276fc0;
    --var-business-txt-nano:#276fc0;
  }
  @media (prefers-color-scheme: dark) {
      :root {
        --var-body-bg:#1A1717;
        --var-body-fc: white;
        --var-header-bg:#3A3333;
        --var-header-fc:rgb(211, 25, 25);
        --var-rect-color-two:#1e1e1e;
        --var-sport-rect-one:rgb(207, 74, 74);
        --var-rect-color:#3A3333;
        --var-business-rect-one: #AE3131;
        --var-business-txt-nano:#AE3131;
      }
  }

*{
    box-sizing: border-box;
    margin: 0px auto;  

}

body{
    padding:-5px, -5px, -5px, -5px;
   
    justify-content: center;
    align-items: center;
    background-color: var(--var-body-bg);
}
body::-webkit-scrollbar{
  display: none;
}
.header-1{
    width: 60%;
    height: 100px;
    background-color: var(--var-header-bg);
    border-radius: 24px;
    position: absolute;
    margin-top: 5%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    margin-left: 20%;


  }

  
  a{
    outline: none;
   text-decoration: none;
  }
  ul{
  list-style:none;
  margin-top: -70px;
  margin-left: 100px;
  text-align: center;
  vertical-align: middle;
  margin-bottom:-70px;
 
  }
  
  li{
    display: inline-block;
    padding:3%;
    font-family: 'Audiowide';
    font-size: 19px;
  
  }
  .header-text{
    transition: transform 0.3s;
    color: white;
  }
  .header-text:hover{
    transform: scale(1.1);
  }
  .header-title{
  font-family: 'Audiowide';
  text-align: center;
  font-size: 35px;
  color:var(--var-header-bg);
  max-width: 100px;
  max-height: 50px;
  margin-top:-1.3%;
  margin-left: 10%;
  padding-top:10%;
  
  
  }
  .header-min{
    width: 150px;
    height:75px;
    font-style: normal;
  font-weight: 100px;
  background-color:var(--var-body-bg);

  border-radius:20px;
  margin-left:1.5%;
  margin-top: 1.7%;
  
  }


  .swipe_container1{
    position: absolute;
    width: 97%;
    height: 400px;
    background-color:var(--var-header-bg);
    margin: 20% 1% 1% ;
    top: 70%;
    border-radius:20px;
  }
  .swipe_container2{
    position: absolute;
    width: 97%;
    height: 400px;
    background-color: var(--var-header-bg);
    margin: 20% 1% 1% ;
    top: 130%;
    border-radius:20px;
  }
  .car_container1{
    width:30%;
    position: absolute;
    height: 75%;
    background-color:  var(--var-sport-rect-one);
    margin: 5% 3%;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .car_container1:nth-child(2){
    width:30%;
    position: absolute;
    height: 75%;

    margin: 5% 3%;
    border-radius: 20px;

    left: 32%;
  }
  .car_container1:nth-child(3){
    width:30%;
    position: absolute;
    height: 75%;

    margin: 5% 3%;
    border-radius: 20px;

    left: 64%;
  }
  .car_container2{
    width:30%;
    position: absolute;
    height: 75%;
    background-color:#1A1717;
    margin: 5% 3%;
    border-radius: 20px;
    box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .car_container2_1{
    width:30%;
    position: absolute;
    height: 75%;
    background-color:#1A1717;
    margin: 5% 3%;
    border-radius: 20px;
    box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    left: 32%;
  }
  .car_container2:nth-last-child(3){
    width:30%;
    position: absolute;
    height: 75%;

    margin: 5% 3%;
    border-radius: 20px;
  
    left: 64%;
  }
  .volkswagen_main{
    max-width: 600px;
    height: 500px;
    object-fit: cover;
    object-position:left;
    margin-left:59%;
    margin-top: 15%;
  }
 .toyota_main{
  max-width: 600px;
  height: 500px;
  object-fit: cover;
  object-position:right;

  margin-top:-34%;
  position: absolute;
 }
 
 #volk-logo{
   width:800px;
   height: auto;
   position: absolute;
    margin-top: -40%;
   margin-left: 22%;
 }
 #toyota-logo{
   position: absolute;
   width: 400px;
   height: auto;
   margin-top:-18%;
   margin-left: 36%;
 }
 .camry_img{
   position: absolute;
   max-width: 90%;
   margin-top: 120px;
 }
 .camry-txt{
   position: absolute;
   font-family: 'audiowide';
   font-size: 101px;
   margin-top: -20px;
   margin-left: -3px;
   color: var(--var-body-bg);
 }
 .prado_img{
  position: absolute;
  max-width: 100%;
  margin-top: 74px;
 }
 .fortuner-txt{
   color: var(--var-body-bg);
  font-family: 'audiowide';
  font-size: 101px;
  margin-top: 5px;
  margin-left: -3px;
  line-height: 80px;
}
.fortuner_img{
  position: absolute;
  max-width: 100%;
  margin-top: 66px;
}
.family_title{
  font-family: 'audiowide';
  text-align: center;
  font-size: 130px;
  color: var(--var-body-fc);
  margin-top: 33%;
}
